@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUZEhprPV9Skzp0mmdRTutCZmHbH3DtuvL4a8-BoAW23qKm84gayawGvMuKNPFSoo83BA&usqp=CAU');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-family: Arial, sans-serif;
    }

    .display-4 {
        font-size: 3rem;
    }

    #medClinicText {
        font-size: 5rem;
        text-align: center;
        font-family: 'cursive';
        color: #3d6d91; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="medClinicText">
        MedClinic
    </div>
</div>